# Dnsmasq configuration
# {{ ansible_managed }}

dhcp-authoritative
dhcp-range={{ dhcp_startrange }},{{ dhcp_endrange }},infinite
dhcp-option=option:router,172.29.232.1
dhcp-leasefile={{ dnsmasq_dhcplease_file }}
dhcp-option=6,{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}

# Static Allocations over DHCP
dhcp-host=54:9f:35:19:64:5c,build.{{ dnsmasq_domain }} # Lenovo T400

{% if dnsmasq_tftp_ipxe | bool %}
# Enable chain-loading for iPXE.
dhcp-match = set:ipxe,175
dhcp-boot = tag:!ipxe,undionly.kpxe
dhcp-boot = {{ dnsmasq_tftp_boot }}
{% endif %}

# Domain used by the DHCP server.
domain = {{ dnsmasq_domain }}

{% if dnsmasq_tftp_pxe | bool %}
# Enable PXE 
dhcp-boot=undionly.kpxe,,{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
{% endif %}
