# Dnsmasq configuration
# {{ ansible_managed }}

{% if dnsmasq_bogus_priv|bool %}
# Don't forward reverse DNS queries for private IP addresses to upstream DNS servers.
bogus-priv
{% endif %}

{% if dnsmasq_domain_mx|d() %}
# Point mails on main domain to a specific host.
mx-host = {{ dnsmasq_domain }},{{ dnsmasq_domain_mx }},10
{% endif %}

# Upstream DNS servers
server=1.1.1.1
server=8.8.8.8
