# Dnsmasq configuration
# {{ ansible_managed }}

# Enable seperated config files
conf-dir=/etc/dnsmasq.d/,*.conf

{% if dnsmasq_router|bool %}
# Enable IPv6 Router Advertisements.
enable-ra
{% endif %}

